# Environment
ENV=local

# Application
DEBUG=False
HOST=0.0.0.0
PORT=8001

# Security
SECRET_KEY=change-me
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# CORS
CORS_ORIGINS=*

# Database
DB_PATH=data/url_shortener.db

# Short URL
SHORT_CODE_LENGTH=6